{% extends 'master.twig' %}

{% block head %}
    <script src="js/docs-build.js"></script>
    <script>
        Flatdoc.run({

        {% if file is not empty %}
    fetcher: Flatdoc.file('{{ file }}')
        {% elseif github is not empty %}
    fetcher: Flatdoc.github('{{ github }}')
        {% endif %}

        });
    </script>
{% endblock %}

{% block header %}
    <ul>
    {% for doc in nav %}
    <li><a href='{{ doc.href }}' class="{{ doc.name == name ? 'active' : '' }}">{{ doc.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
    <div class='menubar'>
        <div class='menu section' role='flatdoc-menu'></div>
    </div>
    <div role='flatdoc-content' class='content'></div>
{% endblock %}